@import '../node_modules/tachyons/css/tachyons.min.css';

.hyphenate {
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

@media screen and (min-width: 40em) {
    .w-50-nm {
        width: 50%;
    }
}
